body {
  background-color: #fafccb;
}

h1 {
  text-align: center;
  color: grey;
}

p {
  font-size: 19px;
  text-align: center;
}

.mensagem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  border: black solid;
}

#msg-button {
  margin: 0;
  background-color: grey;
  border: 1px solid;
  color: white;
  padding: 15px 15px;

  
}

.img-leitura {
  max-width: 200px;
  border-radius: 20%;
}

li {
  margin-bottom: 10px;
}

.img-paises {
  max-width: 200px;
  border-radius: 20%;
}

table {
  background-color: white;
}
table,
th,
td {
  border: 3px solid;
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  padding: 20px;
}

a {
  color: blue;
}
a:hover {
  color: lightblue;
}
